{% extends 'base-top-foot-consult.html' %}
{% load static %}

{% block content %}
	<section id="card">
		<div class="container">
			<div class="card ficb">
				<div class="card__block card__block_first">
					<img src="{{product.image}}" alt="img" class="card__img">
				</div>
				<div class="card__block card__block_sec">
					<div class="title">{{ product.title }}</div>
					<div class="card__block_price">{{ product.price }} руб</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Описание</span>
						<div class="card__items">
							<span class="card_items_intro">
								{{ product.description }}
							</span>
						</div>
					</div>
					<a href="{% url 'order' product.id %}" >
						<button class="btn largeBtn card__btn">Заказать букет</button>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}