{% extends 'base-top-foot.html' %}
{% load static %}

{% block content %}
	<section id="singUpConsultation">
		<div class="container">
			<div class="singUpConsultation">
				<form action="/" class="singUpConsultation__form">
					<div class="title"> <p>Ваша заявка принята!</p> <p>Наш флорист перезвонит вам в течение 20 минут.</p></div>
					<button class="btn singUpConsultation__form_btn">Вернуться на главную страницу</button>
				</form>
				<div class="blockImgHiden"></div>
			</div>
		</div>
		<img src="{% static 'img/singUpConsultationImg.jpg' %}" alt="singUpConsultationImg" class="singUpConsultation__img">
	</section>
{% endblock %}